@import './variables/colors';

body {
    background-color: $blue-gray;
    color: $primary-white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-align: center;
}


.pageContainer{
    align-items: center;
    justify-content: center;
}

.timeContainer {
    width: 600px;
}

.timeCard{
    border: $primary-white 3px solid;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
}